<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="T1000" class="ru.neustupov.impls.robot.ModelT1000"
          c:hand-ref="sonyHand"
          c:leg-ref="toshibaLeg"
          c:head-ref="sonyHead"
          c:color="silver"
          c:year="2006"
          c:soundEnabled="false"
          scope="prototype"/>

    <bean id="T1000Empty" class="ru.neustupov.impls.robot.ModelT1000"
          c:hand-ref="sonyHand"
          c:leg-ref="toshibaLeg"
          c:head-ref="sonyHead"/>

    <bean id="T1000Empty1" class="ru.neustupov.impls.robot.ModelT1000"
          c:color="silver"
          c:year="2006"
          c:soundEnabled="false"/>

    <bean id="sonyHand" class="ru.neustupov.impls.sony.SonyHand" scope="prototype"/>
    <bean id="sonyHead" class="ru.neustupov.impls.sony.SonyHead"/>
    <bean id="sonyLeg" class="ru.neustupov.impls.sony.SonyLeg"/>

    <bean id="toshibaHand" class="ru.neustupov.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="ru.neustupov.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="ru.neustupov.impls.toshiba.ToshibaLeg"/>

</beans>